body{
    display: flex;
    flex-direction: column;
}

.top{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 8px 200px 100px 200px;
}

.header{
    display: flex;
    justify-content: space-between;
}

.header-logo{
    font-size: 24px;
    color: #f9faf8;
}

.header-links{
    display: flex;
    gap: 18px;
}

.section1{
    display: flex;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}